*.asv
test.*
test_*.*
*.exe
.vscode/
.idea/
cmake-build-windows/
cmake-build-wsl/
Java/HsmkMathLib/.idea/
Java/HsmkMathLib/HsmkMathLib.iml
Java/HsmkMathLib/out/
Java/HsmkMathLib/src/test/
Java/out/
.venv/
img/
temp/
*/build/