*.asv
test.*
*.exe
.vscode/
.idea/
C/test.c
cmake-build-windows/
cmake-build-wsl/
C/CMakeLists.txt
C/temp/
Java/HsmkMathLib/.idea/
Java/HsmkMathLib/HsmkMathLib.iml
Java/HsmkMathLib/out/
JJava/HsmkMathLib/src/test/